<footer class="footer" id="footer" style="background-color:#222;">
  <div class="container" style="padding-top:50px;padding-bottom:30px;color:white;">
    <div class="row">
      <div class="col-md-3">
        <h3>Online Courses</h3>
        <ul class="list-unstyled f-list">
          <li><a href="devops.html" style="color:white;text-decoration: none;">About us</a></li>
          <li><a href="aws.html" style="color:white;text-decoration: none;">News & Media</a></li>
          <li><a href="qatesting.html" style="color:white;text-decoration: none;">Community</a></li>
          <li><a href="tableau.html" style="color:white;text-decoration: none;">Contact us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Courses</h3>
        <ul class="list-unstyled f-list">
          <li><a href="devops.html" style="color:white;text-decoration: none;">Devops</a></li>
          <li><a href="aws.html" style="color:white;text-decoration: none;">AWS</a></li>
          <li><a href="qatesting.html" style="color:white;text-decoration: none;">QA Testing</a></li>
          <li><a href="tableau.html" style="color:white;text-decoration: none;">Tableau</a></li>
          <li><a href="python.html" style="color:white;text-decoration: none;">Python</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Useful Links</h3>
        <ul class="list-unstyled f-list">            
          <li><a href="angular.html" style="color:white;text-decoration: none;">Angular JS &amp; UI</a></li>
          <li><a href="salesforce.html" style="color:white;text-decoration: none;">Salesforce</a></li>
          <li><a href="pega.html" style="color:white;text-decoration: none;">Pega</a></li>
          <li><a href="dotnet.html" style="color:white;text-decoration: none;">.Net</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Keep In Touch</h3>
        <ul style="display:flex;list-style:none;margin-left: -40px;">
          <li>
            <a href="" target="_blank" style="padding-right: 17px;color:white;text-decoration: none;">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank" style="padding-left:17px;padding-right: 17px;color:white;text-decoration: none;">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank" style="padding-left:17px;padding-right: 17px;color:white;text-decoration: none;">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank" style="padding-left:17px;padding-right: 17px;color:white;text-decoration: none;">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
        <p class="phone"><i class="fa fa-phone"></i> IND : +91-9999999999</p>
        <!-- <p class="phone"><i class="fa fa-phone"></i> USA : +1 (732) 984 7078</p> -->
        <p><i class="fa fa-envelope "></i> Questions: <a href="#">class@onlinecourses.com</a></p>
      </div>
    </div>
  </div>
  <div class="footer-bottom" style="background-color: #000000;padding: 20px;">
    <div class="container text-center">
        <span style="color:white;font-size:15px;">© Copyright 2017. All Right Reserved. Online Courses</span>
    </div>
  </div>
</footer>