<nav aria-label="breadcrumb" style="margin-top:-20px;">
  <ol class="breadcrumb" >
    <li class="breadcrumb-item "><a href="#" routerLink="" class="breadcrumb-item1">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="" routerLink="/ListCourses" style="text-decoration:none;color:gray;">ALL Courses</a></li>
    <li class="breadcrumb-item active" aria-current="page">Node</li>
  </ol>
</nav>
<nav class="nav clearfix">
  <ul class="nav__menu">
    <li><a class="nav__menu__item" href="#section-1">Upcoming Batches</a></li>
    <li><a class="nav__menu__item" href="#section-2">Curriculum</a></li>
    <li><a class="nav__menu__item" href="#section-3">Course Details</a></li>
    <li><a class="nav__menu__item" href="#section-4">Reviews</a></li>
    <li><a class="nav__menu__item" href="#section-5">FAQ's</a></li>
  </ul>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Java, J2EE & SOA Certification Training</h4>
    </div>
    <div class="col-md-6">
      <!-- <app-contactcomment></app-contactcomment> -->
    </div>
  </div>
  <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);padding:20px;margin-top:20px;margin-bottom: 20px;">
    <div class="row" style="padding:10px;">
      <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3u1fu6f8Hto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wMuNjnNyaiA" allowfullscreen></iframe> -->
        </div>
      </div>
      <div class="col-md-8">
        <p style="text-align:justify;padding-top:20px;">
          Java Certification Training is curated by the professionals as per the industrial requirements & demands. Java Online Training encompasses comprehensive knowledge on basic and advanced concepts of core Java & Java EE along with popular frameworks like Hibernate, Spring, and SOA. In this course, you will gain expertise in the concepts like Java Array, Java OOPs, Java Function, Java Loops, Java Collections, Java Thread, Java Servlet, Java Design Patterns, and Web Services using industry use-cases.
        </p>
      </div>
    </div>
  </div>
</div>


  
<section id="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Instructor-led Java, J2EE & SOA live online classes</h4>
      </div>
    </div>
    <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);padding:20px;margin-top:20px;margin-bottom: 20px;">
      <div class="row" style="padding:10px;">
        <div class="col-md-9">
          <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);padding:20px;margin-top:20px;margin-bottom: 20px;">
            <div class="row" style="padding:5px;">
              <div class="col-md-2">
                <p style="background-color:lightgray;padding:10px;text-align: center;">
                      09<sup>th</sup> Feb</p>
              </div>
              <div class="col-md-3">
                Sat & Sun (7 Weeks) <br><span style="font-size:10px;color:blue;">Weekend Batch</span>
              </div>
              <div class="col-md-4">
                  <p style="padding-top:7px;">Timings : 08:30 PM - 11:30 PM (IST)</p>
              </div>
              <div class="col-md-3">
                <a class="btn btn-outline-danger">Sold Out</a>
              </div>
              <hr style="height:1%;width:101%;background-color:lightgray"/>
              <div class="col-md-2">
                <p style="background-color:lightgray;padding:10px;text-align: center;">
                      09<sup>th</sup> Feb</p>
              </div>
              <div class="col-md-3">
                Sat & Sun (7 Weeks)<br><span style="font-size:10px;color:blue;">Weekend Batch</span>
              </div>
              <div class="col-md-4">
                  <p style="padding-top:7px;">Timings : 08:30 PM - 11:30 PM (IST)</p>
              </div>
              <div class="col-md-3">
                <a class="btn btn-outline-success">Available</a>
              </div>
              <hr style="height:1%;width:101%;background-color:lightgray"/>
              <div class="col-md-2">
                <p style="background-color:lightgray;padding:10px;text-align: center;">
                      09<sup>th</sup> Feb</p>
              </div>
              <div class="col-md-3">
                <p style="padding-top:7px;">Mon - Fri (7 Weeks)</p>
              </div>
              <div class="col-md-4">
                  <p style="padding-top:7px;">Timings : 08:30 PM - 11:30 PM (IST)</p>
              </div>
              <div class="col-md-3">
                <a class="btn btn-outline-warning">Filling Fast</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p style="padding-top:140px;" class="text-center">
          <a class="btn btn-warning" style="padding-left:20px;padding-right:20px;font-size: 20px;color:white;">Enroll Now</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Java, J2EE & SOA Course Curriculum</h4>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne" style="background-color:white;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" style="text-decoration:none;color:black;font-size:15px;" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <i class="fa fa-plus-circle"></i> &nbsp;Introduction of Java
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn about Java architecture, advantages of Java, develop the code with various data types, conditions, and loops.<br>
              <b>Topics:</b><br>
              &#9679;  Introduction to Java<br>
              &#9679;  Bytecode<br>
              &#9679;  Class Files<br>
              &#9679;  Compilation Process<br>
              &#9679;  Data types, and Operations<br>
              &#9679;  if conditions<br>
              &#9679;  Loops – for<br>
              &#9679;  while and do while<br></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo" style="background-color:white;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" style="text-decoration:none;color:black;font-size:15px;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fa fa-plus-circle" ></i> &nbsp;Data Handling and Functions
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
              <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn how to code with arrays, functions, and strings. <br>
              <b>Topics:</b><br>
              &#9679; Arrays - Single Dimensional and Multidimensional arrays<br>
              &#9679; Functions<br>
              &#9679; Function with Arguments<br>
              &#9679; Function Overloading<br>
              &#9679; The concept of Static Polymorphism<br>
              &#9679; String Handling - String<br>
              &#9679; StringBuffer Classes<br></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree" style="background-color:white;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" style="text-decoration:none;color:black;font-size:15px;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-plus-circle" ></i> &nbsp;JDBC
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
              <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn SQL, Architecture of JDBC, Different drivers of JDBC and to write code in JDBC to communicate with Database. <br>
              <b>Topics:</b><br>
              &#9679; Introduction to SQL: Connect, Insert, Update, Delete, Select<br>
              &#9679; Introduction to JDBC and Architecture of JDBC<br>
              &#9679; Types of Drivers: Type 1/2/3/4 drivers<br>
              &#9679; Insert/Update/Delete/Select Operations using JDBC<br>
              &#9679; Batch Processing Transaction<br>
              &#9679; Management: Commit and Rollback<br>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour" style="background-color:white;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" style="text-decoration:none;color:black;font-size:15px;" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <i class="fa fa-plus-circle"></i> &nbsp;Introduction of Java
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
              <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn about Java architecture, advantages of Java, develop the code with various data types, conditions, and loops.<br>
              <b>Topics:</b><br>
              &#9679;  Introduction to Java<br>
              &#9679;  Bytecode<br>
              &#9679;  Class Files<br>
              &#9679;  Compilation Process<br>
              &#9679;  Data types, and Operations<br>
              &#9679;  if conditions<br>
              &#9679;  Loops – for<br>
              &#9679;  while and do while<br></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive" style="background-color:white;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" style="text-decoration:none;color:black;font-size:15px;" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <i class="fa fa-plus-circle" ></i> &nbsp;Data Handling and Functions
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
              <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn how to code with arrays, functions, and strings. <br>
              <b>Topics:</b><br>
              &#9679; Arrays - Single Dimensional and Multidimensional arrays<br>
              &#9679; Functions<br>
              &#9679; Function with Arguments<br>
              &#9679; Function Overloading<br>
              &#9679; The concept of Static Polymorphism<br>
              &#9679; String Handling - String<br>
              &#9679; StringBuffer Classes<br></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix" style="background-color:white;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" style="text-decoration:none;color:black;font-size:15px;" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <i class="fa fa-plus-circle" ></i> &nbsp;JDBC
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
              <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn SQL, Architecture of JDBC, Different drivers of JDBC and to write code in JDBC to communicate with Database. <br>
              <b>Topics:</b><br>
              &#9679; Introduction to SQL: Connect, Insert, Update, Delete, Select<br>
              &#9679; Introduction to JDBC and Architecture of JDBC<br>
              &#9679; Types of Drivers: Type 1/2/3/4 drivers<br>
              &#9679; Insert/Update/Delete/Select Operations using JDBC<br>
              &#9679; Batch Processing Transaction<br>
              &#9679; Management: Commit and Rollback<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Java J2EE Course Description</h4>
      </div>
    </div>    
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne1" style="background-color:white;">
          <a data-toggle="collapse" style="text-decoration:none;color:black;font-size:15px;" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
            aria-controls="collapseOne1">
            <h5 class="mb-0" style="font-size:15px;">
                <i class="fa fa-plus-circle"></i> &nbsp;Introduction of Java
            </h5>
          </a>
        </div>
        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
          <div class="card-body">
            <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn about Java architecture, advantages of Java, develop the code with various data types, conditions, and loops.<br>
              <b>Topics:</b><br>
              &#9679;  Introduction to Java<br>
              &#9679;  Bytecode<br>
              &#9679;  Class Files<br>
              &#9679;  Compilation Process<br>
              &#9679;  Data types, and Operations<br>
              &#9679;  if conditions<br>
              &#9679;  Loops – for<br>
              &#9679;  while and do while<br></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo2" style="background-color:white;">
          <a class="collapsed" style="text-decoration:none;color:black;font-size:15px;" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
            aria-expanded="false" aria-controls="collapseTwo2">
            <h5 class="mb-0" style="font-size:15px;">
                <i class="fa fa-plus-circle"></i> &nbsp;Data Handling and Functions
            </h5>
          </a>
        </div>
        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
          <div class="card-body">
            <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn how to code with arrays, functions, and strings. <br>
              <b>Topics:</b><br>
              &#9679; Arrays - Single Dimensional and Multidimensional arrays<br>
              &#9679; Functions<br>
              &#9679; Function with Arguments<br>
              &#9679; Function Overloading<br>
              &#9679; The concept of Static Polymorphism<br>
              &#9679; String Handling - String<br>
              &#9679; StringBuffer Classes<br></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree3" style="background-color:white;">
          <a class="collapsed" style="text-decoration:none;color:black;" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
            aria-expanded="false" aria-controls="collapseThree3">
            <h5 class="mb-0" style="font-size:15px;">
                <i class="fa fa-plus-circle"></i> &nbsp;JDBC
            </h5>
          </a>
        </div>
        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
          <div class="card-body">
            <p style="font-size:15px;color:gray;"><b>Learning Objectives:</b> In this module, you will learn SQL, Architecture of JDBC, Different drivers of JDBC and to write code in JDBC to communicate with Database. <br>
              <b>Topics:</b><br>
              &#9679; Introduction to SQL: Connect, Insert, Update, Delete, Select<br>
              &#9679; Introduction to JDBC and Architecture of JDBC<br>
              &#9679; Types of Drivers: Type 1/2/3/4 drivers<br>
              &#9679; Insert/Update/Delete/Select Operations using JDBC<br>
              &#9679; Batch Processing Transaction<br>
              &#9679; Management: Commit and Rollback<br></p>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</section>
<section id="section-4">SECTION 4</section>
<section id="section-5">SECTION 5</section>