<app-navbar></app-navbar>
<app-carousel></app-carousel>
<!-- Banners -->
<div class="container-fluid" style="padding:0px;">
    <p class="text-center" style="background-color: #0061ae;color:white;font-size: 12px;padding:10px;">
        <i class="fa fa-video-camera" style="padding-right:10px;" aria-hidden="true"></i>Live Instructor-led Classes
        <i class="fa fa-certificate" style="padding-left:45px;padding-right:10px" aria-hidden="true"></i>Expert Educators
        <i class="fa fa-phone" style="padding-left:45px;padding-right:10px" aria-hidden="true"></i>24X7 Support 
        <i class="fa fa-calendar" style="padding-left:45px;padding-right:10px" aria-hidden="true"></i>Flexible Schedule
    </p>
</div>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center" style="margin-top:-15px;background-color: white;color:black;padding:10px;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
        <b style="padding-right:20px;">Explore our wide range of courses in a click of a button</b>
        <a href="" class="btn btn-primary btn-rounded-sm">Browse All Courses</a>
    </p>
</div>
<!-- cards -->
<!-- <section>
    <div class="container" style="padding-top:40px;padding-bottom: 50px;">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AWS Development Certification Training</h5>
                    <p class="card-text" style="font-size: 12px;color:darkgray">
                        <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                        <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                        Reviews<br>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                        <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AWS Development Certification Training</h5>
                    <p class="card-text" style="font-size: 12px;color:darkgray">
                        <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                        <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                        Reviews<br>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                        <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AWS Development Certification Training</h5>
                    <p class="card-text" style="font-size: 12px;color:darkgray">
                        <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                        <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                        Reviews<br>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                        <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AWS Development Certification Training</h5>
                    <p class="card-text" style="font-size: 12px;color:darkgray">
                        <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                        <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                        Reviews<br>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                        <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                        <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                    </p>
                </div>
                <div class="middle">
                    <div class="text">
                        <p style="text-align:left;padding-left:10px;">Next Batch<br>
                            In 36 days-25th February<br>
                            *EMI options available<br><br>
                            Courses Under the Program
                            <li>Java Essentials</li>
                            <li>Java Essentials</li>
                            <li>Java Essentials</li>
                            <a href="" class="btn btn-outline-primary">SEE MORE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-card-carousel></app-card-carousel>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center" style="background-color: #0060af;color:white;padding:10px;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
        <b style="padding-right:20px;">Enroll, Learn, Grow, Repeat! Get ready to achieve your learning goals with Online Courses</b>
        <a href="" class="btn btn-primary btn-rounded-sm">View All Courses</a>
    </p>
</div>
<!-- Advantages of online courses -->
<section style="background-color: #fcfcfc;">
    <div class="container" style="padding-top:20px;padding-bottom: 20px;">
        <h4 class="text-center" style="padding:40px;">The Online Course Advantage</h4>
        <div class="row">
            <div class="col-md-6" style="padding-bottom: 20px;padding-right: 25px;">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" style="height:170px;width: 220px;">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h4 class="card-title" style="font-size:16px;padding-left:30px;padding-top:25px;padding-right:10px;">Live Online Classes</h4>
                                <p class="card-text" style="font-size:15px;padding-left:30px;padding-right:10px;padding-bottom:25px;">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-bottom: 20px;padding-left: 25px;">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" style="height:170px;width: 220px;">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h4 class="card-title" style="font-size:16px;padding-left:30px;padding-top:25px;padding-right:10px;">Live Online Classes</h4>
                                <p class="card-text" style="font-size:15px;padding-left:30px;padding-right:10px;padding-bottom:25px;">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 30px;padding-right: 25px;">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" style="height:170px;width: 220px;">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h4 class="card-title" style="font-size:16px;padding-left:30px;padding-top:25px;padding-right:10px;">Live Online Classes</h4>
                                <p class="card-text" style="font-size:15px;padding-left:30px;padding-right:10px;padding-bottom:25px;">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 30px;padding-left:25px;padding-bottom: 40px;">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" style="height:170px;width: 220px;">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h4 class="card-title" style="font-size:16px;padding-left:30px;padding-top:25px;padding-right:10px;">Live Online Classes</h4>
                                <p class="card-text" style="font-size:15px;padding-left:30px;padding-right:10px;padding-bottom:25px;">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center" style="background-color: #0060af;color:white;padding:10px;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
        <b style="padding-right:20px;">We're “Ridiculously Committed”! We will not quit till you achieve your learning goals</b>
        <a href="" class="btn" style="background-color: #f6921e;">View All Courses</a>
    </p>
</div>
<app-card-carousel></app-card-carousel>
<app-footer></app-footer>
<router-outlet></router-outlet>
