<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h4 style="padding-top:40px;">Trending Courses</h4>
        </div>
    </div>
</section>
<section class="container" style="padding-bottom:40px;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);" *ngFor="let java of Java">
              <img class="card-img-top" src="../../assets/Java.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Java Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', java.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);"  *ngFor="let node of Nodejs">
              <img class="card-img-top" src="../../assets/nodejs3.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Node Js Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', node.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);" *ngFor="let angular of Angular">
              <img class="card-img-top" src="../../assets/nodejs4.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Angular Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', angular.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);" *ngFor="let react of React">
              <img class="card-img-top" src="../../assets/nodejs5.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">React Js Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', react.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);" *ngFor="let AWS of AWS">
              <img class="card-img-top" src="../../assets/AWS.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Aws Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', AWS.courseName]" >SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
              <img class="card-img-top" src="../../assets/c.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">C language Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
              <img class="card-img-top" src="../../assets/Spark.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Spark Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-bottom:20px;">
            <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
              <img class="card-img-top" src="../../assets/hadoop-cloud-computing.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hadoop Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 36 days-25th February<br>
                    *EMI options available<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li>
                    <li>Java Essentials</li>
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="fa fa-lg fa-chevron-left" aria-hidden="true" style="color:grey;float:left;margin-left: -60px;margin-top:-190px;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a href="#carouselExampleControls" role="button" data-slide="next">
      <span class="fa fa-lg fa-chevron-right" aria-hidden="true" style="color:grey;float:right;margin-right: -60px;margin-top:-190px;"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>