<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h4 style="padding-top:40px;">Trending Courses</h4>
        </div>
    </div>
</section>
<section class="carousel slide" data-ride="carousel" id="postsCarousel" style="padding-bottom:40px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="desktopCarouselbutton">
            <a class="btn btn-outline-secondary prev" href="" title="go back" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);"><i class="fa fa-lg fa-chevron-left"></i></a>
            <a class="btn btn-outline-secondary next" href="" title="more" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);margin-left: 25px;"><i class="fa fa-lg fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
    <div class="container carousel-inner">
      <div class="row">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding-bottom:20px;">
              <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/co_img_164_1504780448.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- <div class="container">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/444" alt="1 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="2 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600" alt="3 slide"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="4 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/444" alt="5 slide"></div>
                    <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ddd" alt="6 slide"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->