<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4 style="padding-top:40px;padding-bottom:10px;">Trending Courses</h4>
        </div>
    </div>
</section>
<section class="carousel slide" data-ride="carousel" id="postsCarousel1" style="padding-bottom:40px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-outline-secondary desktopCarouselbutton" id="prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
            <a class="btn btn-outline-secondary desktopCarouselbutton1" id="next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
    <div class="container carousel-inner">
      <div class="row">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4" style="padding-bottom:20px;">
              <div class="card card1">
                  <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1548330711/img/master2-min.png" alt="Card image cap">
                  <img src="https://www.shareicon.net/data/2015/06/26/59989_java_256x256.png" id="java">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                      <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                      <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                      Reviews<br>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i><br><br>
                      <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-bottom:20px;">
              <div class="card card1" >
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1548330711/img/master1-min.png" alt="Card image cap">
                <img src="https://static2.sharepointonline.com/files/fabric/fabric-website/images/logo-react.svg" id="react">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                      <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                      <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                      Reviews<br>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i><br><br>
                      <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-bottom:20px;">
              <div class="card card1">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1548330711/img/master3-min.png" alt="Card image cap">
                <img src="https://angular.io/assets/images/logos/angular/angular_whiteTransparent.png" id="angular">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                      <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                      <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                      Reviews<br>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i><br><br>
                      <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4" style="padding-bottom:20px;">
              <div class="card card1">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1548330711/img/master7-min.png" alt="Card image cap">
                <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" id="nodejs">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                    <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-bottom:20px;">
              <div class="card card1">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1548330711/img/master5-min.png" alt="Card image cap">
                <img src="https://www.appnovation.com/sites/default/files/2016-12/amazon.png" id="amazon">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                      <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                      <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                      Reviews<br>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i>
                      <i class='fa fa-star' id="star"></i><br><br>
                      <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-bottom:20px;">
              <div class="card card1">
                <img class="card-img-top" src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1548330711/img/master4-min.png" alt="Card image cap">
                <img src="https://www.merchantcentric.com/wp-content/uploads/2015/12/data-analytics-icon.png" id="machine">
                <div class="card-body">
                  <h5 class="card-title">AWS Development Certification Training</h5>
                  <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                  </p>
                </div>
                <div class="middle">
                  <div class="text">
                    <p style="text-align:left;">Next Batch<br>
                      In 36 days-25th February<br>
                      *EMI options available<br><br>
                      Courses Under the Program
                      <li>Java Essentials</li>
                      <li>Java Essentials</li>
                      <li>Java Essentials</li><br>
                      <a href="" class="btn btn-outline-primary">SEE MORE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>